<% provide :title, 'Log in' %>
<% provide(:focus_class, 'form log-in') %>

<h1>Log in</h1>
<%= form_with url: sessions_path, scope: :user, local: true do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :remember_me, class: 'checkbox inline' do %>
    <%= f.check_box :remember_me %>
    <span>Remember me on this computer</span>
  <% end %>
  <%= f.submit 'Log in', class: 'btn btn-primary' %>
  <p class="signup-link">
    New to redidit? <%= link_to 'sign up here!', signup_path %>
  </p>
<% end %>