<%= render partial: 'users/user_info', locals: { user: user, size: (defined?(size) ? size : 50) } %>
<div class="bio-text">
  <div class="bio-info">
    <h2 class="username"><%= link_to  user.username, user, class: 'user-link' %></h2>
    <div class="karma"><h3>Karma </h3> <p><%= user.karma %></p></div>
  </div>
  <% if current_user == user %>
    <div class="bio-actions">
      <%= link_to 'edit profile', edit_user_path(user)%>
      <%= link_to 'delete account', user, method: :delete, 
                  data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>