<div class="vote-controls">
  <%= button_to controls.model, controls.upward_button do %>
    <%= render controls.upward_arrow %>
  <% end %>
  <p class="karma"><%= controls.karma %></p>
  <%= button_to controls.model, controls.downward_button do %>
    <%= render controls.downward_arrow %>
  <% end %>
</div>