<% title = post.title %>
<% link = post.link %>
<article class="votable-row post-row">
  <%= voting_controls_for(post, self).html %>
  <hgroup class="votable">
    <%= render partial: 'shared/metadata', locals: { resource: post } %>
    <h1 class="post-title">
      <% if context == :feed %>
        <%= link_to title, post_path(post), class: 'post-page' %>
      <% else %>
        <%= title %>
      <% end %>
      <% if link %>
        <%= link_to humanify(link), link, class: 'external-link', target: :_blank %>
      <% end %>
    </h1>
  </hgroup>
</article>