<% title = @post.title %>
<% link = @post.link %>

<div class="post">
  <% path = post_path(@post) %>
  <%= render partial: 'shared/metadata',
             locals: { resource: @post, path: path } %>
  <%= tag.h1(class: 'post-title') { link.blank? ? title : tag.a(title, href: link) } %>
  <% if @post.body %>
    <div class="post-body">
    <% @post.body.lines.map(&:chomp).each do |paragraph| %>
      <%= tag.p(paragraph) %>
    <% end %>
    </div>
  <% end %>
  <% if @post.user == current_user %>
    <div class="post-actions">
      <div><%= link_to 'Edit', edit_post_path(@post) %></div>
      <div><%= link_to 'Delete', path, method: :delete,
                       data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>
</div>

<div class="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <%= render partial: 'shared/metadata',
                 locals: { resource: comment, path: path } %>
      <p class="comment-text"><%= comment.text %></p>
    </div>
  <% end %>
</div>