<%= javascript_pack_tag('comments.js') if @comments.any?%>
<% provide(:title, @post.title) %>
<% provide(:gon, true) %>
<% provide(:focus_class, 'post') %>

<div class="post-content">
  <%= render partial: 'posts/headline_info',
             locals: { post: @post, context: :post } %>
  <% if @post.body %>
    <div class="post-body">
    <% @post.body.lines.map(&:chomp).each do |paragraph| %>
      <%= tag.p(paragraph) %>
    <% end %>
    </div>
  <% end %>
  <% if @post.user == current_user %>
    <div class="post-actions">
      <div><%= link_to 'Edit', edit_post_path(@post) %></div>
      <%= render partial: 'shared/actions', locals: { resource: @post } %>
    </div>
  <% end %>
</div>

<% if user_is_logged_in? %>
  <div class="commenting top-level"><%= render partial: 'comments/form' %></div>
<% else %>
<div class="members-only">
  <span>Log in or sign up to leave a comment</span>
  <ul class="nav">
    <%= render partial: 'shared/login_signup' %>
  </ul>
</div>
<% end %>

<div class="comments">
  <% @comments.each do |comment| %>
    <%= render partial: 'comments/show', locals: { comment: comment } %>
  <% end %>
</div>