<% provide(:title, @post.title) %>
<% provide(:focus_class, 'post') %>

<div class="post-content">
  <%= render partial: 'posts/headline_info',
             locals: { post: @post, context: :post } %>
  <% if @post.body %>
    <div class="post-body">
    <% @post.body.lines.map(&:chomp).each do |paragraph| %>
      <%= tag.p(paragraph) %>
    <% end %>
    </div>
  <% end %>
  <% if @post.user == current_user %>
    <div class="post-actions">
      <div><%= link_to 'Edit', edit_post_path(@post) %></div>
      <%= render partial: 'shared/actions', locals: { resource: @post } %>
    </div>
  <% end %>
</div>

<% if user_is_logged_in? %>
  <div class="commenting"><%= render partial: 'comments/form' %></div>
<% else %>
<div class="members-only">
  <span>Log in or sign up to leave a comment</span>
  <ul class="nav">
    <%= render partial: 'shared/login_signup' %>
  </ul>
</div>
<% end %>

<div class="comments">
  <% @comments.each do |comment| %>
    <article class="comment-row votable-row">
      <% if (level = (ancestor = comment).level) > 0 %>
        <div class="reverse-thread-area">
          <% level.times do %>
            <% ancestor = ancestor.parent %>
            <div class="with-comment-<%= ancestor.id %> threadline-space">
              <div class="threadline"></div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= voting_controls_for(comment, self).html %>
      <div class="comment votable with-comment-<%= comment.id %>"
           id="<%= comment.id %>">
        <%= render partial: 'shared/metadata',
                  locals: { resource: comment } %>
        <p class="comment-text"><%= comment.text || 'deleted' %></p>
      <% if current_user == comment.user %>
        <div class="comment-actions">
          <%= render partial: 'shared/actions', locals: { resource: comment } %>
        </div>
      <% end %>
      </div>
    </article>
  <% end %>
</div>
