<% title = @post.title %>
<% link = @post.link %>

<div class="post">
  <% path = post_path(@post) %>
  <%= render partial: 'shared/metadata',
             locals: { resource: @post, path: path } %>
  <%= tag.h1(class: 'post-title') { link.blank? ? title : tag.a(title, href: link) } %>
  <% if @post.body %>
    <div class="post-body">
    <% @post.body.lines.map(&:chomp).each do |paragraph| %>
      <%= tag.p(paragraph) %>
    <% end %>
    </div>
  <% end %>
  <% if @post.user == current_user %>
    <div class="post-actions">
      <div><%= link_to 'Edit', edit_post_path(@post) %></div>
      <%= render partial: 'shared/actions', locals: { resource: @post } %>
    </div>
  <% end %>
</div>

<div>
  <% if logged_in? %>
    <%= render partial: 'comments/form' %>
  <% else %>
  <div class="members-only">
    <span>Log in or sign up to leave a comment</span>
    <ul class="nav">
      <%= render partial: 'shared/login_signup' %>
    </ul>
  </div>
  <% end %>
</div>

<div class="comments">
  <% @comments.each do |comment| %>
    <div class="comment-row">
      <% if (level = (ancestor = comment).level) > 0 %>
        <div class="reverse-thread-area">
          <% level.times do %>
            <% ancestor = ancestor.parent %>
            <div class="with-comment-<%= ancestor.id %> threadline-space">
              <div class="threadline"></div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="comment with-comment-<%= comment.id %>" id="<%= comment.id %>">
        <%= render partial: 'shared/metadata',
                  locals: { resource: comment, path: path } %>
        <p class="comment-text"><%= comment.text || 'deleted' %></p>
      </div>
      <% if current_user == comment.user %>
        <div class="comment-actions">
          <%= render partial: 'shared/actions', locals: { resource: comment } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
