<header class="navbar navbar-sticky-top">
  <div class="container">
    <%= render  'layouts/logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to  "Sign up", signup_path %></li>
        <li><%= link_to  "Log in", '#' %></li>
        <li><%= link_to  "About", about_path %></li>
        <li><%= link_to  "Contact", contact_path %></li>
        <li><%= link_to  "Help", help_path %></li>
      </ul>
    </nav>
  </div>
</header> 