<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield :title) %></title>
    <% if yield :gon %>
      <%= Gon::Base.render_data %>
    <% end %>
    <%= render  'layouts/rails_defaults' %>
    <%= render  'layouts/shim' %>
  </head>
  <body>
    <%= render  'layouts/header' %>
    <%= document_grid(self).content do %>
      <% capture do %>
        <% flash.each do |message_type, message| %>
        <%= tag.div message, class: "alert alert-#{message_type}" %>
        <% end %>
        <%= yield %>
      <% end %>
    <% end %>
  </body>
</html>
